
html, body {
    min-height: 100vh;
}
body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
}
.content {
    max-width: 55em;
    margin: auto;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
}
.page__title {
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.block {
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-column-gap: .25em; */
    /* grid-row-gap: .25em; */
    padding: .5em;
    color: #333;
    border-top: solid .25em #333;
}
.block__title {
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    font-weight: bold;
}
.block__desc {
    font-size: .8em;
    /* background-color: #efefef; */
}

@media screen and (max-width: 40em) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 30em) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.loader, .loader:before, .loader:after {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	animation: squish 0.9s ease alternate infinite;
}
.loader:before, .loader:after {
	content: '';
	position: absolute;
}
.loader {
	position: absolute;
    top: 0;
    right: 2rem;
	animation-delay: 0.36s;
}
.loader:before {
	left: -1.5rem;
	animation-delay: 0.18s;
}
.loader:after {
	right: -1.5rem;
	animation-delay: 0.54s;
}
.loader.off {
    display: none;
}
@keyframes squish {
  0% {
    box-shadow: 0 1rem 0 -.1rem rgba(0, 0, 0, .1); 
	}
  100% {
    box-shadow: 0 1rem 0 0 rgba(0, 0, 0, 1.0); 
	} 
}


.unrelated {
    display: flex;
    margin-top: 2em;
    font-weight: bold;
}